.dark_theme_1 {
  background-color: #222831;
}
.dark_theme_1 .menu_container {
  border-right: 2px solid #2d3541;
}
.dark_theme_1 .menu_container .menu_inner_container .menu_title {
  color: #EEEEEE;
}
.dark_theme_1 .menu_container .menu_inner_container .menu_link {
  color: #EEEEEE;
}
.dark_theme_1 .menu_container .menu_inner_container .menu_link:hover {
  color: #F6B17A;
  background-color: #2d3541;
}
.dark_theme_1 .menu_container .menu_inner_container .menu_link select {
  color: #EEEEEE;
}
.dark_theme_1 .menu_container .menu_inner_container .menu_link_active {
  background-color: #2d3541;
  color: #F6B17A;
}
.dark_theme_1 .menu_container .menu_inner_container .profile_container {
  color: #EEEEEE;
}
.dark_theme_1 .content_container .inner_content_container {
  background-color: #31363F;
}
.dark_theme_1 .content_container .inner_content_container .inner_content_heading {
  color: #EEEEEE;
}
.dark_theme_1 .content_container .inner_content_container .pricing_container .pricing_content {
  color: #EEEEEE;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .colors_container {
  border: 2px dashed #222831;
  color: #222831;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .colors_container .color_circle {
  border: 2px solid #222831;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .colors_container .color_circle_blue {
  background-color: #1e1c8a;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .colors_container .color_circle_red {
  background-color: #8a1c1c;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .colors_container .color_circle_green {
  background-color: #1c8a25;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .colors_container .color_circle_yellow {
  background-color: #7f8a1c;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .__selected_color__ {
  border: 2px solid #F6B17A;
  color: #F6B17A;
}
.dark_theme_1 .content_container .inner_content_container .upload_container .__selected_color__ .color_circle {
  border: 2px solid #F6B17A;
}
.dark_theme_1 .content_container .inner_content_container .sensor_values_table_container .sensor_table_row .sensor_table_heading {
  color: #EEEEEE;
}
.dark_theme_1 .content_container .inner_content_container .sensor_values_table_container .sensor_table_row .sensor_table_cell {
  color: #EEEEEE;
  border-left: 2px dashed #222831;
}
.dark_theme_1 .content_container .inner_content_container .sensor_values_table_container .sensor_table_row .middle_row {
  border-top: 2px dashed #222831;
  border-bottom: 2px dashed #222831;
}

.dark_theme_2 {
  background-color: #070F2B;
}
.dark_theme_2 .menu_container {
  border-right: 2px solid #535C91;
}
.dark_theme_2 .menu_container .menu_inner_container .menu_title {
  color: #9290C3;
}
.dark_theme_2 .menu_container .menu_inner_container .menu_link {
  color: #9290C3;
}
.dark_theme_2 .menu_container .menu_inner_container .menu_link:hover {
  color: #F6B17A;
  background-color: #535C91;
}
.dark_theme_2 .menu_container .menu_inner_container .menu_link select {
  color: #9290C3;
}
.dark_theme_2 .menu_container .menu_inner_container .menu_link_active {
  background-color: #535C91;
  color: #F6B17A;
}
.dark_theme_2 .menu_container .menu_inner_container .profile_container {
  color: #9290C3;
}
.dark_theme_2 .content_container .inner_content_container {
  background-color: #1B1A55;
}/*# sourceMappingURL=themes.css.map */