$very_dark_color_1: #222831;
$dark_color_1: #31363F;
$middle_color_1: #2d3541;
$light_color_1: #EEEEEE;
$accent_color_1: #F6B17A;
// $accent_color_1: #76ABAE;

$very_dark_color_2: #070F2B;
$dark_color_2: #1B1A55;
$middle_color_2: #535C91;
$light_color_2: #9290C3;
$accent_color_2: #F6B17A;

.dark_theme_1 {
  background-color: $very_dark_color_1;
  
  .menu_container {
    border-right: 2px solid $middle_color_1;

    .menu_inner_container {
      .menu_title {
        color: $light_color_1;
      }

      .menu_link {
        color: $light_color_1;

        &:hover {
          color: $accent_color_1;
          background-color: $middle_color_1;
        }

        select {
          color: $light_color_1;
        }
      }

      .menu_link_active {
        background-color: $middle_color_1;
        color: $accent_color_1;
      }

      .profile_container {
        color: $light_color_1;
      }
    }
  }

  .content_container {
    .inner_content_container {
      background-color: $dark_color_1;

      .inner_content_heading {
        color: $light_color_1;
      }

      .pricing_container {
        .pricing_content {
          color: $light_color_1;
        }
      }

      .upload_container {
        .colors_container {
          border: 2px dashed $very_dark_color_1;
          color: $very_dark_color_1;

          .color_circle {
            border: 2px solid $very_dark_color_1;
          }

          .color_circle_blue {
            background-color: #1e1c8a;
          }

          .color_circle_red {
            background-color: #8a1c1c;
          }

          .color_circle_green {
            background-color: #1c8a25;
          }

          .color_circle_yellow {
            background-color: #7f8a1c;
          }
        }

        .__selected_color__ {
          border: 2px solid $accent_color_1;
          color: $accent_color_1;

          .color_circle {
            border: 2px solid $accent_color_1;
          }
        }
      }

      .sensor_values_table_container {
        .sensor_table_row {
          .sensor_table_heading {
            color: $light_color_1;
          }

          .sensor_table_cell {
            color: $light_color_1;
            border-left: 2px dashed $very_dark_color_1;
          }

          .middle_row {
            border-top: 2px dashed $very_dark_color_1;
            border-bottom: 2px dashed $very_dark_color_1;
          }
        }
      }
    }
  }
}

.dark_theme_2 {
  background-color: $very_dark_color_2;
  
  .menu_container {
    border-right: 2px solid $middle_color_2;

    .menu_inner_container {
      .menu_title {
        color: $light_color_2;
      }

      .menu_link {
        color: $light_color_2;

        &:hover {
          color: $accent_color_2;
          background-color: $middle_color_2;
        }

        select {
          color: $light_color_2;
        }
      }

      .menu_link_active {
        background-color: $middle_color_2;
        color: $accent_color_2;
      }

      .profile_container {
        color: $light_color_2;
      }
    }
  }

  .content_container {
    .inner_content_container {
      background-color: $dark_color_2;
    }
  }
}